// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.

aside ul li {
    list-style-type: none;
    a {
        position: relative;
        left: -17px;
    }
}